.footer {
    position: fixed;
    bottom: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../../../public/assets/grama.png');
    background-size: contain;
}

.footer small {
    position: relative;
    top: 32%;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}